@(user: UserModel)

@main(user, "Intro", "IntroController") {

					<div class="page-content">
						<div class="page-header">
							<h1>
								Group Introduction
								<small>
									<i class="icon-double-angle-right"></i>
									Name and Description
								</small>
							</h1>
						</div><!-- /.page-header -->

						<div class="row">
							<div class="col-xs-12">
								<!-- PAGE CONTENT BEGINS -->

								<form class="form-horizontal" role="form"  ng-submit="save()">
									<div class="form-group">
										<label class="col-sm-3 control-label no-padding-right" for="form-field-1"> Name: </label>

										<div class="col-sm-9">
											<input type="text" id="form-field-1" placeholder="Company Name" ng-model="company.name" class="col-xs-10 col-sm-5" />
										</div>
									</div>

									<div class="space-4"></div>

									<div class="form-group">
										<label class="col-sm-3 control-label no-padding-right" for="form-field-2"> Description: </label>

										<div class="col-sm-9">
                                            <textarea class="form-control" id="form-field-8" placeholder="Short description"  ng-model="company.description"></textarea>
											<span class="help-inline col-xs-12 col-sm-7">
												<span class="middle">* Not over 200 words</span>
											</span>
										</div>
									</div>

                                    <div class="space-4"></div>

									<div class="form-group">
										<label class="col-sm-3 control-label no-padding-right" for="form-field-3"> Marquee Info: </label>

										<div class="col-sm-9">
                                            <textarea class="form-control" id="form-field-9" placeholder="Messages for user"  ng-model="company.marquee"></textarea>
											<span class="help-inline col-xs-12 col-sm-7">
												<span class="middle">* Not over 100 words</span>
											</span>
										</div>
									</div>

									<div class="clearfix form-actions">
										<div class="col-md-offset-3 col-md-9">
											<button class="btn btn-info" type="button" ng-click="save()" >
												<i class="icon-ok bigger-110"></i>
												Submit
											</button>

										</div>
									</div>

									<div class="hr hr-24"></div>

								</form>

							</div><!-- /.col -->
						</div><!-- /.row -->
					</div><!-- /.page-content -->
}
